@import '../../variables';

.forecast {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: .75em;
  
  @include respond-to(medium) {
    font-size: 1em;
  }
  
  &Day {
    width: 100%;
    overflow: hidden;
    padding: 1rem 1rem 1rem 0;
    margin-bottom: 1rem;
    border-bottom: .0625rem solid white;
    
    &:first-child {
      display: none;
    }

    &:last-child {
      border: 0;
    }
  }
}

.twoRow {
  font-size: .875em;
  flex-wrap: wrap; 
}