$hours: 8;

.forecastHour {
  text-align: center;
  margin-bottom: 1em;
  padding-right: 1em;
  flex: 0 0 ((1 / $hours) * 100%);
  
  &:last-child {
    padding: 0;
  }
}

.time {
  display: block;
  font-size: .75em;
  margin: .5em 0;
}

.temp {
  &Main {
    margin: .5em 0;
    font-size: 1.25em;
  }
}

.icon {
  display: block;
  font-size: 2.25em;
  flex: 0 0 3rem;
}