.forecastHour {
  text-align: center;
  margin-right: 1em;
  margin-bottom: 1em;
  flex: 0 0 ((1 / 8)  * 100%);
}

.time {
  display: block;
  font-size: .75rem;
  margin: .5em;
}

.weatherIcon {
  display: block;
  font-size: 3em;
  flex: 0 0 3rem;
  color: transparentize(white, .15);
  mix-blend-mode: screen;
}

.temp {
  &Main {
    margin: 0 1rem;
  }
}