@import './variables';

.app {
  padding: 1rem;
  max-width: $ex-large-width;
  margin: auto;
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 1rem;
}

.city {
  text-align: left;
  flex: 0 0 100%;
}

.zipcode {
  padding: .5rem;
  font-size: 1em;
  min-width: 8em;
  border: 0;
  flex: 1 1 auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.locationButton {
  font-size: 1.25em;
  color: white;
  margin-right: 1rem;
  align-self: center;
  margin-bottom: 1rem;
  
  svg {
    position: relative;
    bottom: -.125em;
  }
}

.submitButton {
  color: grey;
  mix-blend-mode: screen;
  background-color: white;
  padding: .5rem;
  font-size: 1em;
  margin-bottom: 1rem;
}

.forecastBody {
  @include respond-to(large) {
    display: flex;
  }
}

.error {
  text-align: center;
  font-size: 1.5em;
}