.app {
  padding: 1rem;
}

.header {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.city {
  text-align: center;
}

.zipcode {
  padding: .5rem;
  font-size: 1em;
  width: 8em;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.locationButton {
  font-size: 1.25em;
  color: white;
  margin-right: 1rem;
  align-self: center;
  margin-bottom: 1rem;
  
  svg {
    position: relative;
    bottom: -.125em;
  }
}

.submitButton {
  color: grey;
  mix-blend-mode: screen;
  background-color: white;
  padding: .5rem;
  font-size: 1em;
  margin-bottom: 1rem;
}

.forecastBody {
  display: flex;
  
  aside {
    flex: 1 1 40%;
  }
}