.app {
  padding: 1rem;
}

.header {
  text-align: center;
}

.city {
  text-align: center;
}

.zipcode {
  padding: .5rem;
  font-size: 1em;
  width: 8em;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.locationButton {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.submitButton {
  color: white;
  background-color: #0366d6;
  padding: .5rem;
  font-size: 1em;
  margin-bottom: 1rem;
}